@model Online_Shopping_Management.Models.Image

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Image</legend>

        @Html.HiddenFor(model => model.ImageId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubCategoryId, "SubCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SubCategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.SubCategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelId, "Model")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModelId", String.Empty)
            @Html.ValidationMessageFor(model => model.ModelId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductId, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProductId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Size)
            @Html.ValidationMessageFor(model => model.Size)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Path)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Path)
            @Html.ValidationMessageFor(model => model.Path)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
