@model Online_Shopping_Management.Models.Model

@{
    ViewBag.Title = "Create";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Model/Categories/List/", function (data) {
                var items = "<option> Show Category List </option>";
                $.each(data, function (i, categories) {
                    items += "<option value='" + categories.Value + "'>" + categories.Text + "</option>";
                });
                $("#CategoryId").html(items);
            });

            $("#CategoryId").change(function () {
                $.getJSON("/Model/SubCategories/List/" + $("#CategoryId > option:selected").attr("value"), function (data) {
                    var items = "<option> Show SubCategory List </option>";
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.Value + "'>" + subcategory.Text + "</option>";
                    });
                    $("#SubCategoryId").html(items);
                });
            });
        });
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Model</legend>

        <label for="CategoryId">Categories</label>
        <select id="CategoryId" name="CategoryId"></select>
        <br /><br />
        <label for="SubCategoryId">SubCategories</label>
        <select id="SubCategoryId" name="SubCategoryId"></select>
        <br /><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModelName)
            @Html.ValidationMessageFor(model => model.ModelName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
